/* Add CSS Styling */
.number {
    background-color: lightpink;
    font-size: 16px;
}

.number#two {
    color: blue;
    font-size: 32px;
    background-color: white;
}

.numberThree {
    background-color: lightpink;
    font-size: 22px;

}