/* Add CSS Styling */

.black,
.white {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: yellow;
}